#
# POP3 Server rules.
# Normaly you allow from everyware and the only useful env vars are
# NOPBS, LOGLEVEL and POP3_LOGLEVEL.
#
# disable pop-befor-smtp on the loopback
127.:allow,RELAYCLIENT="",NOPBS=""
10.:allow,RELAYCLIENT="",NOPBS=""
172.:allow,RELAYCLIENT="",NOPBS=""
192.:allow,RELAYCLIENT="",NOPBS=""
